@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* --------------------------------
        UTILS -> #variables
   -------------------------------- */
/* --------------------------------
        UTILS -> #mixins
   -------------------------------- */
/* --------------------------------
        UTILS -> #functions
   -------------------------------- */
/* --------------------------------
        BASE -> #base
   -------------------------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Roboto", arial;
  background: #1b1b1b;
  color: #ffffff;
}

img {
  display: block;
}

h1,
h2,
h3 {
  font-family: "Rowdies", sans-serif;
}

/* --------------------------------
        OBJECTS -> #site-grid
   -------------------------------- */
.site-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 100%;
}

/* --------------------------------
        OBJECTS -> #content
   -------------------------------- */
.content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.content[data-height-reset] {
  min-height: unset;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

/* -----------------------------------------------------
        OBJECTS -> WRAPPERS -> #cards-wrapper
   ----------------------------------------------------- */
.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 95rem;
  width: 100%;
}

/* -----------------------------------------------------
        OBJECTS -> WRAPPERS -> #tabs-wrapper
   ----------------------------------------------------- */
.tabs-wrapper {
  max-width: 95rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs-wrapper .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .tabs-wrapper {
    margin-bottom: 1rem;
    height: 100%;
    max-width: unset;
    width: calc(100vw - 4rem);
    overflow-x: scroll;
  }
  .tabs-wrapper .wrap {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
  }
}

/* --------------------------------
        COMPONENTS -> #card
   -------------------------------- */
.card {
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18rem 2fr 0.85fr;
      grid-template-columns: 18rem 2fr 0.85fr;
  outline: solid gray 1px;
  padding: 2rem 1rem;
  -webkit-animation: transitionIn 0.5s ease-in-out;
          animation: transitionIn 0.5s ease-in-out;
}

.card + .card {
  margin-top: 2rem;
}

.card__poster {
  width: 100%;
  max-width: 18rem;
  margin: auto 0;
}

.cardInfo-wrap {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.card__title {
  font-weight: 300;
  font-size: clamp(2.4rem, 5vw, 3rem);
}

.card__rating {
  color: white;
  background: #111111;
  margin-left: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: solid white 1px;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
}

.card__synopsis {
  font-size: 1.6rem;
  font-family: "Roboto", arial;
  margin-bottom: 1rem;
  line-height: 1.6;
  max-width: 55ch;
}

.card__trailer {
  margin-top: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: none;
  border: none;
  color: lightblue;
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}

.cardTimes-wrap {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  background-color: #272525;
  width: 100%;
}

.cardTimes__header {
  font-size: clamp(1.6rem, 3vw, 1.8rem);
  font-weight: 300;
  grid-column: 1 / -1;
}

[data-card__time] {
  padding: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 600;
}

/*
----------------------------
        media queries
----------------------------
*/
@media only screen and (max-width: 850px) {
  .card {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
  .cardTimes-wrap {
    width: 100%;
    -ms-grid-columns: (10rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 10rem);
    grid-column: 1 / -1;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .card__poster {
    display: none;
  }
  .card__synopsis {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .cardTimes-wrap {
    padding: 2rem;
  }
}

/*
----------------------------
        ANIMATIONS
----------------------------
*/
@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --------------------------------
        COMPONENTS -> #header
   -------------------------------- */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
}

.header__nav {
  max-width: 95rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__hamburger {
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
  display: none;
  cursor: pointer;
}

.hamburger__line {
  width: 100%;
  height: 0.25rem;
  background: white;
}

.header__logo {
  font-size: 4rem;
  color: #d13b3b;
}

.header__logo span {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
}

.header__links {
  position: relative;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__closeBtn {
  width: 2rem;
  height: 2rem;
  display: none;
}

.header__fullScheduleLink {
  cursor: pointer;
  margin-top: auto;
  background: none;
  border: none;
  color: white;
  font-family: "Roboto", arial;
  font-size: 1.6rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media only screen and (max-width: 650px) {
  .header__fullScheduleLink {
    margin-left: unset;
    margin-top: unset;
    margin-right: auto;
  }
  .header__links {
    background: #181818;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: left 0.25s;
    transition: left 0.25s;
    padding: 2rem;
  }
  .header__links[data-display="visible"] {
    left: 0;
  }
  .header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__closeBtn {
    display: block;
    position: absolute;
    background: none;
    border: solid white 1.6px;
    color: white;
    font-size: 2.4rem;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    right: 1rem;
  }
}

/* --------------------------------
        COMPONENTS -> #tab
   -------------------------------- */
.tab {
  background-color: #b8b8b8;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tab[data-active="true"] {
  background-color: #07c0e9;
  color: white;
}

.tab[data-active="false"] {
  pointer-events: none;
  opacity: 0.25;
}

.tab + .tab {
  margin-left: 1rem;
}

.tab:hover {
  background-color: white;
  color: black;
}

.tab:hover[data-active="true"] {
  background-color: #07c0e9;
  color: white;
}

.tab__day {
  font-size: 2.4rem;
}

.tab__date {
  font-weight: 400;
}

/*
----------------------------
        media queries
----------------------------
*/
@media only screen and (max-width: 650px) {
  .tab__date {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .tab {
    width: 100%;
  }
  .tab__day {
    font-size: 1.6rem;
  }
}

/* --------------------------------
        COMPONENTS -> #lightbox
   -------------------------------- */
.lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.89);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.lightbox[data-display="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lightbox__video {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 60%;
  height: 60%;
}

.lightbox__close {
  position: absolute;
  background: none;
  border: 2px solid white;
  top: 2rem;
  right: 2rem;
  font-size: 2.4rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 999;
  border-radius: 999px;
}

.lightbox__close[data-visibility="hidden"] {
  display: none;
}

.lightbox__close-img {
  width: 2rem;
  height: 2rem;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .lightbox__video {
    width: 95%;
    height: 95%;
  }
}

@media only screen and (max-width: 650px) {
  .lightbox__close {
    border: none;
  }
  .lightbox__close-img {
    width: 3rem;
    height: 3rem;
  }
}

/* --------------------------------
        COMPONENTS -> #schedule
   -------------------------------- */
[data-schedule-movie--wrap] + [data-schedule-movie--wrap] {
  margin-top: 2rem;
}

[data-schedule-title] {
  text-decoration: underline;
  font-family: "Roboto", arial;
  font-size: clamp(2.4rem, 3vw, 3rem);
}

[data-schedule-day] {
  font-family: "Roboto", arial;
  font-size: clamp(1.8rem, 2vw, 2rem);
}

[data-schedule-day--wrap] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

[data-schedule-time] {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}
/*# sourceMappingURL=main.css.map */