/* --------------------------------
        COMPONENTS -> #lightbox
   -------------------------------- */

.lightbox {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.89);
    @include flexCenter(column);
    display: none;

    &[data-display="true"] {
        display: flex;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 100%;
    @include flexCenter(column);
}

.lightbox__video {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: black;
}

.lightbox__close {
    position: absolute;
    background: none;
    border: 2px solid white;
    top: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 999;
    border-radius: 999px;
}

.lightbox__close-img {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
}

@media only screen and (max-width: 1200px) {
    .lightbox__video {
        width: 95%;
        height: 95%;
    }
}

@media only screen and (max-width: 650px) {
    .lightbox__close {
        border: none;
    }

    .lightbox__close-img {
        width: 3rem;
        height: 3rem;
    }
}
