/* --------------------------------
        COMPONENTS -> #schedule
   -------------------------------- */

[data-schedule-header] {
    text-align: center;
}

[data-schedule-header-title] {
    font-weight: 300;
}

[data-schedule-movie--wrap] {
    & + [data-schedule-movie--wrap] {
        margin-top: 2rem;
    }
}

[data-schedule-title] {
    text-decoration: underline;
    font-family: $body-fontStack;
    font-size: clamp(2.4rem, 3vw, 3rem);
}

[data-schedule-day] {
    font-family: $body-fontStack;
    font-size: clamp(1.8rem, 2vw, 2rem);
}

[data-schedule-day--wrap] {
    display: flex;
    align-items: baseline;
}

[data-schedule-time] {
    font-size: clamp(1.6rem, 2vw, 1.8rem);
}
