/* --------------------------------
        COMPONENTS -> #showtimesUnavailable
   -------------------------------- */

.showtimesUnavailable {
    border: solid white 1px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    &[data-visibility="visible"] {
        display: flex;
    }
}

.showtimesUnavailable__title {
    color: white;
    font-weight: 300;
}

.showtimesUnavailable__subheader {
    font-weight: 300;
    margin-top: 1rem;
}
