/* --------------------------------
        COMPONENTS -> #tab
   -------------------------------- */

.tab {
    background-color: rgb(184, 184, 184);
    padding: 1rem;
    min-width: 12rem;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 600;
    border-radius: $border-radius;
    cursor: pointer;

    &[data-active="true"] {
        background-color: color(dateBG-active);
        color: white;
    }

    &[data-active="false"] {
        // pointer-events: none;
        // opacity: 0.25;
        display: none;
    }

    & + .tab {
        margin-left: 1rem;
    }

    &:hover {
        background-color: white;
        color: black;
    }

    &:hover[data-active="true"] {
        background-color: color(dateBG-active);
        color: white;
    }
}

.tab__day {
    font-size: 2.4rem;
}

.tab__date {
    font-weight: 400;
}

/*
----------------------------
        media queries
----------------------------
*/

@media only screen and (max-width: 650px) {
    .tab__date {
        // display: none;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .tab {
        min-width: unset;
        width: max-content;
        // border-radius: 0 $border-radius $border-radius 0;

        // & + .tab {
        //     margin-left: 0;
        //     margin-top: 1rem;
        // }
    }

    .tab__day {
        font-size: 1.6rem;
    }
}
