/* --------------------------------
        UTILS -> #variables
   -------------------------------- */

$colors: (
    mainBG: #111111,
    cardBG: #1b1b1b,
    primaryText: #ffffff,
    timesCardBG: #272525,
    timeBG: #ffffff,
    timeText: #000000,
    dateBG: #c4c4c4,
    dateText: #000000,
    dateBG-active: #07c0e9,
    dateText-active: #ffffff,
);

$max-width: 95rem;

$header-fontStack: "Rowdies", sans-serif;
$body-fontStack: "Roboto", arial;
$border-radius: 0.5rem;
$box-shadow: 0 3px 15px rgba(10, 10, 10, 0.87);
