/* --------------------------------
        UTILS -> #variables
   -------------------------------- */

$colors: (
    mainBG: #141414,
    primaryText: #ffffff,
    timesCardBG: #1a1919,
    timeBG: #ffffff,
    timeText: #000000,
    dateBG: #c4c4c4,
    dateText: #000000,
    dateBG-active: #07c0e9,
    dateText-active: #ffffff,
);

$max-width: 90rem;

$header-fontStack: "Rowdies", sans-serif;
$body-fontStack: "Roboto", arial;
$border-radius: 0.5rem;
