/* --------------------------------
        OBJECTS -> #content
   -------------------------------- */

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &[data-height-reset] {
        // this class is added then removed with javaScript whenever a tab is clicked on and cards are added to the content container
        // without this class, extra space would remain in the content container whenever more cards were removed than were added
        min-height: unset;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        // flex-direction: row;
        // padding: 2rem 2rem 2rem 0;
        align-items: flex-start;
    }
}
