/* --------------------------------
        BASE -> #base
   -------------------------------- */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    font-size: 1.8rem;
    font-family: $body-fontStack;
    background: color(mainBG);
    color: color(primaryText);
}

img {
    display: block;
}

h1,
h2,
h3 {
    font-family: $header-fontStack;
}
