/* -----------------------------------------------------
        OBJECTS -> WRAPPERS -> #cards-wrapper
   ----------------------------------------------------- */

.cards-wrapper {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    width: 100%;
    margin-top: 1rem;
}
