/* -----------------------------------------------------
        OBJECTS -> WRAPPERS -> #tabs-wrapper
   ----------------------------------------------------- */

.tabs-wrapper {
    max-width: $max-width;
    width: calc(100vw - 4rem);
    justify-content: center;
    overflow-x: scroll;

    .wrap {
        display: flex;
        min-width: max-content;
        // width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .tabs-wrapper {
        // flex-direction: column;
        // width: max-content;
        // margin-right: 1rem;
        margin-bottom: 1rem;
        height: 100%;
        max-width: unset;
        // the -4 rem is for the padding of the "content" container
        width: calc(100vw - 4rem);
        overflow-x: scroll;

        .wrap {
            width: max-content;
            // flex-direction: column;
            position: sticky;
            top: 2rem;
        }
    }
}
