/* -----------------------------------------------------
        OBJECTS -> WRAPPERS -> #tabs-wrapper
   ----------------------------------------------------- */

.tabs-wrapper {
    max-width: $max-width;
    height: max-content;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: rgb(209, 59, 59) rgb(15, 15, 15);
    scrollbar-width: thin;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    margin-bottom: 1rem;
    display: flex;
    padding-bottom: 1rem;

    &[data-visibility="hidden"] {
        overflow-x: unset;
    }

    &[data-visibility="hidden"] > .tab {
        display: none;
    }

    & > * {
        scroll-snap-align: center;
    }

    &::-webkit-scrollbar {
        height: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: rgb(15, 15, 15);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(209, 59, 59);
        border-radius: 999px;
    }
}

@media only screen and (max-width: 600px) {
    .tabs-wrapper {
        margin-bottom: unset;
        max-width: unset;
        width: 100%;
        overflow-x: scroll;

        .wrap {
            width: max-content;
            position: sticky;
            top: 2rem;
        }
    }
}
